{% location 0, 0 %}
{% bless 'white_bold' %}{{title}}{% end %}

{% for option in options %}
{% bless 'red' %}{{option.0}}) {% end %}
{% bless 'bold_underline_blue' %}{{option.1}}{% end %} - {% bless 'yellow_on_white' %}{{option.2}}{% end %}

{% endfor %}
{% endlocation %}
